.login-button{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 5px;  
    cursor: pointer; 
}

.nav-section{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu-area{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
}

.menu-list{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
}

.menu-list li{
    padding: 10px
}

.menu-list li:hover{
    border-bottom: 2px solid #000;
}

.menu-search input{
    border: none; 
    border-bottom: 1px solid #000; 
    outline: none; 
    padding: 5px 0; 
    background: transparent; 
    font-size: 14px;
    margin-left: 10px;
}

.product-card{
    transition: transform 0.3s ease;
    cursor: pointer;
    border: none;
    padding: 20px;
}

.product-card:hover{
    transform: scale(1.05);
}

.product-img{
    display: flex;
    justify-content: flex-end;
}

.product-info{
    padding: 20px;
}

.product-info > * {
    margin-bottom: 10px;
}